.stars {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.fr-text {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fr-t {
	width: 75%;
	font-family: sans-serif;
	color: #2E2F2E;
}
.fr-div {
	background-color: #FAFAFA;
	margin: 10px 10px;
	border-radius: 19px;
}